@charset "UTF-8";
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  font-family: sans-serif;
}

#app {
  height: 100%;
  color: #fff;
  background-color: #333;
}

input::placeholder {
  text-transform: capitalize;
}

header {
  color: #fff;
  background-color: #000;
  padding: 1em 0;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  box-shadow: 0 0 8px #000;
  z-index: 20;
  position: relative;
}
header > h1 {
  margin: 0;
}

.lists-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  margin: auto 1em auto 1em;
}

.toggle-lines, .toggle-lines::after, .toggle-lines::before {
  width: 2em;
  height: 0.25em;
  border-radius: 1em;
  background-color: #fff;
  display: block;
  position: relative;
}
.toggle-lines::before {
  content: "";
  position: absolute;
  top: -0.5em;
}
.toggle-lines::after {
  content: "";
  position: absolute;
  top: 0.5em;
}

main {
  height: calc(100% - 51.5px);
}

.task-list {
  height: 100%;
  padding: 1em;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-list-items-container {
  padding-bottom: 1em;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.task-list-header {
  padding: 0 1em;
  text-transform: capitalize;
}

.list-items {
  color: #fff;
  background-color: #a5b;
  border-radius: 0.5em;
  box-shadow: 0 6px 5px -3.5px #000;
  list-style: none;
  width: 100%;
  height: 100%;
  margin-top: 0.5em;
  padding: 0 1em;
  overflow-y: auto;
}

.task {
  padding: 1em 0;
  border-bottom: 1px solid #bbb;
  display: flex;
  align-items: center;
}
.task > input {
  position: absolute;
  visibility: hidden;
}
.task > input:checked + label > .custom-checkbox {
  border: solid 1px #fc0;
}
.task > input:checked + label > .custom-checkbox::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 16px;
  height: 16px;
  background-color: #fc0;
  border-radius: 0.7em;
}
.task > label {
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.task > p {
  padding: 0.5em;
}

.custom-checkbox {
  font-size: 1rem;
  display: inline-table;
  width: 20px;
  height: 20px;
  border-radius: 1em;
  background-color: #a5b;
  position: relative;
  margin-right: 0.5em;
  border: solid 1px #222;
}
.custom-checkbox:focus {
  border: solid 3px #222;
}

.list-options {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5em;
}
.list-options > button {
  text-transform: capitalize;
  border-radius: 0.5em;
  box-shadow: 0 6px 5px -3.5px #000;
  background-color: #000;
  color: #fff;
  border: 2px outset #555;
  height: 70%;
  width: 50%;
  margin: 0.5em 0;
}

.no-list-selected {
  margin: auto;
  text-transform: capitalize;
}

#new-task-form, #new-list-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#new-task-form > input, #new-list-form > input {
  border-radius: 0.5em;
  height: 2.5em;
  margin-right: 0.5em;
  width: 80%;
}
#new-task-form > button, #new-list-form > button {
  font-size: 1.5rem;
  width: 1.5em;
  height: 1.5em;
  box-shadow: 0 6px 5px -3.5px #000;
  border-radius: 0.5em;
  background-color: #bbb;
  color: #fff;
  border: 2px outset #bbb;
}

.task-lists {
  max-height: 0;
  overflow-y: hidden;
  z-index: 10;
}
.task-lists.active {
  max-height: 200%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 51.5px;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 1em 1em 5.5em;
}
.task-lists > div {
  height: 100%;
  width: 100%;
}

.lists-container {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  height: 83%;
  overflow: auto;
}

.list-name {
  padding: 1em 0;
  border-bottom: 2px solid #bbb;
  text-transform: capitalize;
  font-weight: 600;
}
.list-name::before {
  content: "";
  width: 1em;
  display: inline-block;
}
.list-name.active-list::before {
  content: "⏵";
  width: 1em;
  display: inline-block;
}

@media (min-width: 768px) {
  .lists-toggle {
    visibility: hidden;
  }

  main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .task-lists {
    position: relative;
    max-height: 1000%;
    height: 60%;
  }
  .task-lists > h2 {
    margin: 0 1em 0.5em;
  }
  .task-lists > div {
    height: 90%;
  }

  .lists-container {
    background-color: #a5b;
    border-radius: 0.5em;
    box-shadow: 0 6px 5px -3.5px #000;
    padding: 0.5em;
    height: 75%;
  }

  #new-list-form {
    padding-top: 1em;
  }

  .task-list {
    z-index: 0;
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
